<% provide(:page_title, "About") %>

<section id="about">
  <div class="container">
    <div class="row py-5">
      <h1><strong>About | Mission Vision Values</strong></h1>
    </div>

    <div class="row">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi atque aut cum, deserunt dolores earum
        eius enim eveniet facilis fuga hic id illo impedit incidunt laudantium libero maiores mollitia natus
        necessitatibus nisi nostrum nulla obcaecati quae quaerat quas quia quibusdam rem sed sequi sint temporibus
        totam vero voluptatem. Quis, soluta!
      </p>
    </div>

  </div>
</section>