<% provide(:page_title, "Home") %>

<div class="section" id="home">
  <div class="container pt-5">

    <div class="row">
      <div class="col">
        <h1>OUR STORY</h1>
      </div>
    </div>

    <hr class="mt-5" width="800px">

    <div class="row pt-5 mt-5">
      <div class="col-6">
        <h1 class="text-left">The niibori method</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere id, inventore. Commodi culpa dolores
          earum, eius explicabo laborum nobis nulla numquam officia omnis perferendis provident quasi, qui
          repellendus, tenetur vitae!</p>
        <%= link_to "Read more", '#', class: 'brown-button' %>
      </div>

      <div class="col-6 d-flex justify-content-center">
        <div style="width: 200px">
          <%= image_tag 'alto guitar.jpg', class: 'img-fluid' %>
        </div>
      </div>
    </div>

    <hr class="mt-5" width="800px">

    <div class="row pt-5 mt-5">

      <div class="col-6 d-flex justify-content-center">
        <div style="width: 90%">
          <%= image_tag 'ensemble_photo.jpg', class: 'img-fluid' %>
        </div>
      </div>

      <div class="col-6">
        <h1 class="text-left">The niibori method</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere id, inventore. Commodi culpa dolores
          earum, eius explicabo laborum nobis nulla numquam officia omnis perferendis provident quasi, qui
          repellendus, tenetur vitae!</p>
        <%= link_to "Read more", '#', class: 'brown-button' %>
      </div>

    </div>

    <div class="row mt-5 pt-5">
      <div class="col jumbotron">
        <h1>Why Join Us</h1>
        <div class="container mt-5">
          <div class="row">
            <div class="col-4">
              <h4> Performance opportunities </h4>
              <p class="p-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto consectetur consequatur
                cupiditate deserunt, eaque et fugit illum labore nam unde?</p>
            </div>
            <div class="col-4">
              <h4> Overseas exchange </h4>
              <p class="p-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto consectetur consequatur
                cupiditate deserunt, eaque et fugit illum labore nam unde?</p>
            </div>
            <div class="col-4">
              <h4> Hone your leadership skills </h4>
              <p class="p-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto consectetur consequatur
                cupiditate deserunt, eaque et fugit illum labore nam unde?</p>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>



