<% provide(:page_title, "Home") %>

<div class="container">
  <div class="row pt-5 pb-5">
    <div class="col d-flex justify-content-center">
      <h1>
        Welcome to NUS Guitar Ensemble(GENUS)!
      </h1>
    </div>
  </div>

  <div class="row">
    <h1>We are...</h1>
  </div>
  <div class="row">
    <div class="col-9 px-0">
      <%= image_tag "home_page_photo.jpg", class: 'img-fluid' %>
    </div>
    <div class="col-3 px-0">
      <p class="pt-4 pl-4 pr-4">
        A group of dedicated guitarist who aims to achieve greater heights.
      </p>
      <%= link_to "Watch performance videos", root_url, class: 'btn ml-4 btn-sm' %>
    </div>
  </div>
  <hr/>

  <div class="row">
    <div class="col-3 px-0">
      <p class="pt-4 pl-4 pr-4">
        A family that welcome every guitar lover
      </p>
      <%= link_to "Join us now", root_url, class: 'btn ml-4 btn-sm' %>
    </div>
    <div class="col-9 px-0">
      <%= image_tag "home_page_photo.jpg", class: 'img-fluid' %>
    </div>
  </div>

</div>
