<% provide(:page_title, "Home") %>

<div class="section" id="home">
  <div class="container pt-5">

    <div class="row">
      <div class="col">
        <h1>OUR STORY</h1>
      </div>
    </div>

    <hr class="mt-5" width="800px">

    <div class="row pt-5 mt-5">

      <div class="col-6 d-flex justify-content-center">
        <div style="width: 90%">
          <%= image_tag 'casual.jpg', class: 'img-fluid' %>
        </div>
      </div>

      <div class="col-6">
        <h1 class="text-left">The GENUS Family</h1>
        <p>
          GENUS is a welcoming and warm community made up of a group of guitar lovers. We practice together, face
          challenges together and have fun together. Many of us are may come in worrying about the uncertainties in the
          coming
          semester. However, everyone has the will to help each others out, not only in terms of guitar playing but day
          to day life. It might be a new experience for some us, but as we go through practices and concerts together,
          we bond as a team and everyone felt that they become a better individual. Most important of all, we have
          found a new family in NUS.
        </p>
      </div>

    </div>

    <hr class="mt-5" width="800px">

    <div class="row pt-5 mt-5">
      <div class="col-6">
        <h1 class="text-left">The niibori method</h1>
        <p>
          As one of the many Niibori guitar ensembles in Singapore, GENUS utilises a system of guitars with
          varying pitches, as well as a playing style, technique and repertoire unique to these guitars,
          collectively known as the Niibori method. Developed by Hiroki Niibori since 1957, each Niibori
          ensemble usually features these guitars at its core: the alto, prime, bass, contrabass and guitarron.
          These different guitars create a diverse sound range which allows for greater versatility in our
          repertoire compared to ensembles consisting of only normal classical guitars.
        </p>

        <p>
          Thanks to the unique system of guitar tunings and score transpositions, it is easy for members to pick
          up any guitar or score and start playing, regardless of which section they belong to. Read on to find
          out more about each type of guitar!
        </p>
        <%= link_to "Read more", about_path(anchor: 'niibori-method'), class: 'brown-button' %>
      </div>

      <div class="col-6 d-flex justify-content-center">
        <div style="width: 200px">
          <%= image_tag 'alto guitar.jpg', class: 'img-fluid' %>
        </div>
      </div>
    </div>


    <div class="row mt-5 pt-5">
      <div class="col jumbotron">
        <h1>Our...</h1>
        <div class="container mt-5">
          <div class="row">
            <div class="col-4">
              <h4> Mission </h4>
              <p class="p-3">
                To provide an environment for our members to learn, grow and perform and at the same time, promote
                our art form to the community 2 through our performances.
              </p>
            </div>
            <div class="col-4">
              <h4> Vision </h4>
              <p class="p-3">
                To be the leading guitar ensemble in Singapore that is at the forefront of advancing the recognition
                and appreciation of guitar ensemble music.
              </p>
            </div>
            <div class="col-4">
              <h4> Values </h4>
              <p class="p-3">
                Community ♦️ Excellence ♦️ Versatility
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>



