<% provide(:page_title, "Contact") %>

<div class="container-fluid" id="contact-us">
  <div class="row hero" style="height: 89vh; overflow: hidden;">
    <div class="container">
      <div class="row">
        <div class="col mt-5">
          <h1>Contact us</h1>
        </div>
      </div>

      <!-- start of email -->
      <div class="row justify-content-center">
        <a href="mailto:nusguitarensemble@gmail.com">nusguitarensemble@gmail.com</a>
      </div>
      <!-- end of email -->

      <hr>

      <!-- start of icons -->
      <div class="row">
        <div class="col-4">
        </div>
        <div class="col-4 d-flex justify-content-center">
          <a href="#" id="icon"><i class="fab fa-facebook-square"></i></a>
          <a href="#" id="icon"><i class="fab fa-youtube"></i></a>
          <a href="#" id="icon"><i class="fab fa-instagram"></i></a>
        </div>
        <div class="col-4">
        </div>
      </div>
      <!-- end of icons -->

    </div>
  </div>
</div>