<div class="container">
<div class="d-flex justify-content-center h-100">
    <div class="card">
        <div class="card-header">
            <div class="col">
            <h1 class="title">Log In</h1>
            </div>
        </div>
        <div class="card-body">
            <div class="row py-5">
        </div>
        <%= render 'form', registration: @registration %>
        </div>
    </div>
</div>
</div>
