<% if @current_user %>
    <h1>Create New Account</h1>
    <%= render 'form', registration: @registration %>
<% else %>
    <% flash[:danger] = "Please log in to existing account to create new account"%>
<form>
<% end %>