<div class="col-md-6 col-lg-4">
  <div class="card mb-4">
    <!--Card image-->
    <div class="view overlay">
      <% if event.thumbnail.attached? %>
        <%= image_tag event.thumbnail, class: 'card-img-top img-fluid' %>
      <% else %>
      <% end %>
    </div><!--Card content-->
    <div class="card-body">
      <!--Title-->
      <h4 class="card-title">PPE</h4><!--Text-->
      <p class="card-text">
        <% event.content %>
      </p>
      <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
      <%= link_to event_path(event) do %>
        <div class="btn" >
        <%= fa_icon "search" %>
        find out more
        </div>
      <% end %>
    </div>
  </div>
</div>