<% provide(:page_title, "My Posts") %>

<p id="notice"><%= notice %></p>

<div class='container-fluid'>
  <div class="row mx-5">
    <div class="col ml-3">
      <h1><strong>Posts</strong></h1>
    </div>
  </div>
  <div class="row mx-5" id="admin-card">
    <!-- Card -->
      <%= render 'admin_card', events: @events %>
    <!-- End of Card -->
  </div>
  <div class="row ">
    <%= link_to 'New Event', new_event_path, class: 'btn' %>
    <%= will_paginate %>
  </div>
</div>