<% provide(:page_title, "Index") %>

<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<div class="container">
  <div id="event" class="container-fluid">
    <h1>Events</h1>

    <div class="row">
      <%= render @events %>
    </div>

    <%= link_to 'New Event', new_event_path %>

    <%= will_paginate @events %>
  </div>
</div>