<% provide(:page_title, @title) %>

<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>


<section id="events">
  <div class="container">
    <div class="row mt-5">
      <div class="col d-flex justify-content-center">
        <% if yield(:page_title) == "Upcoming" %>
          <h1>Upcoming</h1>
        <% else %>
          <h1>Past Events</h1>
        <% end %>
      </div>
    </div>
    <div class="row">
      <%= render @events %>
    </div>

    <% if @current_user %>
      <%= link_to 'New Event', new_event_path, class: 'btn mt-5' %>
    <% end %>

    <%= will_paginate @events %>
  </div>
</section>
