@import "bootstrap";
@import "font-awesome";

$gray-base: #000 !default;
$gray-light: lighten($gray-base, 46.7%) !default; // #777

/* universal */

body {
  background-color: #F2EFE8;
}

/* card */

.brown-button {
  background: #a8865d;
}

.card-body {
  //background: #efe5d9;
  background-color: #333333;
}

.card-title {
  color: white;
}

#post, #event {
  h1, p {
    //color: #efe5d9;
    color: white;
  }

  h3 {
    //color: #ff8c00;
    color: white;
  }

  a {
    color: #efe5d9;
  }

  button {
    //color: #55432e;
  }
}


.heading-background {
  background: asset-url('wood5.jpg'); /* Alt: image-path("rails.png") becomes "/assets/rails.png"*/
  // background-size: cover;
  background-position: center;
}

.navbar-background-img {
  background: asset-url('wood2.jpg');
  background-position: center;
}

#sidebar {
  background: asset-url('wood7.jpg');
  background-size: cover;
  //background: #7386D5;
  a {
    color: #efe5d9;
  }
}

/* footer */

footer {
  color: $gray-light;

  a {
    color: #555;

    &:hover {
      color: #222;
    }
  }

  small {
    float: right;
  }

  ul {
    float: right;
    list-style: none;
    margin-right: 15px;

    li {
      float: left;
      margin-left: 15px;
    }
  }
}

.css1 {
  font-size: 1.0em;
}

.css2 {
  font-size: 1.2em;
}

.css3 {
  font-size: 1.4em;
}

.css4 {
  font-size: 1.6em;
}

/* nav */

.home-bg {
  background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), image-url('ensemble_photo.jpg') center no-repeat fixed;
  height: 80vh;
  background-size: cover;
  overflow: auto;

  .text-box {
    background-color: white;
    opacity: 0.6;
    margin-top: 25em;
    margin-left: 2rem;
    height: 60px;
    width: 470px;
    border: 2px solid black;

    .home-text {
        text-shadow: 2px 2px 4px black;
        font-family: 'Cantarell', sans-serif;
        color: black;
        text-align: center;
    }
  }
}

.logo {
  float: left;
  margin-right: 30px;
  font-size: 2.3em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
  font-family: 'Overlock', cursive;
  
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

#myelement {
  background-image: url("https://static.thenounproject.com/noun-svg/1031.svg?Expires=1564055342&Signature=I5Zk9SbSEK~l8ZRK8hmUlzve0ZV6n5N9Q8-OeHX3D4SVGJau3Na1jGSP--gc2zwE2uybNnmjqT~2q2zSpsM10g1gwHyCbNSYu4gwMGZoIAzIDmKlKQMCF5J45Tg89tQFBhajBZjoiFv66u2GdJ8mPur6f8Zko5fc382zTWBWMpE_&Key-Pair-Id=APKAI5ZVHAXN65CHVU2Q");
  background-repeat: no-repeat;
  background-position: center;
  filter: invert(87%) sepia(100%) saturate(3%) hue-rotate(264deg) brightness(111%) contrast(97%);
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar {
  background-color: #837359;
  z-index: 100;
}


/* miscellaneous */

.info-page {
  h1, h2 {
    text-align: left;
  }

  h2 {
    line-height: 1.75;
    letter-spacing: -0.5px;
  }
}

/* icon */

footer {
  i.fa {
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0px 0px 2px #888;
    padding: 0.5em 0.6em;
    color: white;
    background: #837359;
  }
}

/* button */

.btn {
  background-color: #837359;
  border-color: #837359;
  color: white;

  &:hover {
    color: #fff;
    background-color: #73654e;
  }
}