@import "bootstrap";


$gray-base: #000 !default;
$gray-light: lighten($gray-base, 46.7%) !default; // #777

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  color: #76443D;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: $gray-light;
  a {
    color: #555;
    &:hover {
      color: #222;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}


/* miscellaneous */

.info-page {
  h1, h2 {
    text-align: left;
  }
  h2 {
    line-height: 1.75;
    letter-spacing: -0.5px;
  }
}