@import "bootstrap";
@import "font-awesome";


$gray-base: #000 !default;
$gray-light: lighten($gray-base, 46.7%) !default; // #777
$brown: #B6955D;
$dark-brown: #9b7b4e;
@mixin title {
  font-family: 'Crimson Text', serif;
  font-weight: bold;
  font-size: 3.5rem;
  text-align: center;
  font-style: italic;
}

/* universal */

body {
  /* background-color: #F2EFE8; */
  color: #2c2f2f;
}

.bg-brown {
  background: #B6955D;
}

.bg-dark {
  background-color: #2F2E2E;
}

.brown-button {
  padding: 7px;
  background-color: $brown;
  height: 20px;
  width: 110%;
  border-radius: 3px;
  color: white;
  font-size: 18px;
  text-decoration: none;

  &:hover {
    text-decoration: none;
    color: white;
    background-color: $dark-brown;
  }
}


/* home page */

#home {
  h1 {
    @include title;
  }

  h4 {
    padding-top: 5px;
    color: $brown;
    text-align: center;
    font-size: 1.3rem;
  }

}


/* arrow down */

/* upcoming events */

.upcoming-events {
  h1 {
    @include title;
  }
}

/* Contact us */

#contact-us {
  color: white;

  h1 {
    @include title;
  }

  .hero {
    background: image-url('desk.jpeg') center no-repeat;
    background-size: cover;
  }

  a {
    text-decoration: none;
    color: white;
    font-style: italic;
  }

  #icon {
    cursor: pointer;
    background-color: transparent;
    border-radius: 2px;
    color: #a1a1a1;

    font-size: 35px;
    text-align: center;
    line-height: 35px;

    margin-right: 3px;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-left: 8px;
    padding-right: 8px;

    &:hover {
      color: white;
    }
  }

  hr {
    background-color: $brown;
    color: $brown;
    border-width: 3px;
    width: 100px;
  }
}

/* events */

#events {
  h1 {
    @include title;
  }
}

/* about */

#about {
  h1 {
    @include title;
  }
}

/* card */

.card-body {
  //background: #efe5d9;
  background-color: #a8865d;
}

.card-title {
  color: white;
}

/* footer */

.footer-distributed {
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;

  padding: 55px 50px;
  margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
  width: 40%;
}

/* The company logo */

.footer-distributed h3 {
  color: #ffffff;
  font: normal 36px 'Cookie', cursive;
  margin: 0;
}

.footer-distributed h3 span {
  color: #5383d3;
}

/* Footer links */

.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: #5383d3;
  text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right {
  width: 20%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

  .footer-distributed {
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i {
    margin-left: 0;
  }

}


.css1 {
  font-size: 1.0em;
}

.css2 {
  font-size: 1.2em;
}

.css3 {
  font-size: 1.4em;
}

.css4 {
  font-size: 1.6em;
}

/* nav */

.home-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), image-url('ensemble_photo_grey.jpg') center no-repeat;
  background-size: cover;

  .home-text {
    text-shadow: 2px 2px 4px black;
    font-family: 'Gabriola', sans-serif;
    text-align: center;
    color: $brown;
    font-weight: bold;
    font-size: 5rem;
  }

  hr {
    background-color: $brown;
    color: $brown;
    border-width: 3px;
  }

  h2 {
    text-align: center;
    font: normal 32px 'Ubuntu';
  }

  h5 {
    padding-top: 5px;
    color: $brown;
    text-align: center;
  }

  p {
    color: white;
    text-align: center;
  }

  a {
    cursor: pointer;
    background-color: transparent;
    border-radius: 2px;

    font-size: 20px;
    color: $brown;
    text-align: center;
    line-height: 35px;

    margin-right: 3px;
    margin-bottom: 5px;

    &:hover {
      color: $dark-brown;
    }
  }

}


.logo {
  float: left;
  margin-right: 30px;
  font-size: 2.3em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
  font-family: 'Overlock', cursive;

  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

#myelement {
  background-image: url("https://static.thenounproject.com/noun-svg/1031.svg?Expires=1564055342&Signature=I5Zk9SbSEK~l8ZRK8hmUlzve0ZV6n5N9Q8-OeHX3D4SVGJau3Na1jGSP--gc2zwE2uybNnmjqT~2q2zSpsM10g1gwHyCbNSYu4gwMGZoIAzIDmKlKQMCF5J45Tg89tQFBhajBZjoiFv66u2GdJ8mPur6f8Zko5fc382zTWBWMpE_&Key-Pair-Id=APKAI5ZVHAXN65CHVU2Q");
  background-repeat: no-repeat;
  background-position: center;
  filter: invert(87%) sepia(100%) saturate(3%) hue-rotate(264deg) brightness(111%) contrast(97%);
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar {
  background-color: #151515;
  z-index: 100;
}

/* miscellaneous */

.info-page {
  h1, h2 {
    text-align: left;
  }

  h2 {
    line-height: 1.75;
    letter-spacing: -0.5px;
  }
}

/* icon

footer {
  i.fa {
    display: inline-block;
    border-radius: 50%;
    box-shadow: 0px 0px 2px #888;
    padding: 10px;
    color: white;
    background: #a8865d;

    &:hover {
      color: #fff;
      background-color: #837359;
      border-color: #837359;
    }
  }
}
*/
/* button */

.btn {
  background-color: #a8865d;
  border-color: #a8865d;
  color: white;

  &:hover {
    color: #fff;
    background-color: #837359;
    border-color: #837359;
  }
}

/* carousel */

.carousel {
  i.fa {
    display: inline-block;
    border-radius: 60px;
    padding: 0.5em 0.6em;
    color: white;
    background: #a8865d;

    &:hover {
      color: #fff;
      background-color: #837359;
      border-color: #837359;
    }
  }
}

#wrapper {
  height: 100%;
  width: 100%;
  min-height: 650px;
  min-width: 900px;
  padding-top: 1px;
}

#slider {
  margin: 100px 0 0 0;
  height: 500px;
  overflow: hidden;
  background: url(img/ajax-loader.gif) center center no-repeat;
}

#slider .slide {
  position: relative;
  display: none;
  height: 500px;
  float: left;
  background-position: center right;
  cursor: pointer;
  border-left: 1px solid #fff;
}

#slider .slide:first-child {
  border: none;
}

#slider .slide.active {
  cursor: default;
}

#slider .slide-block {
  position: absolute;
  left: 40px;
  bottom: 75px;
  display: inline-block;
  width: 435px;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  font-size: 14px;
  border: 1px solid #fff;
  overflow: hidden;
  border-radius: 4px;
}

#slider .slide-block h4 {
  font-size: 36px;
  font-weight: bold;
  margin: 0 0 10px 0;
  line-height: 1;
}

#slider .slide-block p {
  margin: 0;
}