@import "bootstrap";
@import "font-awesome";
@import 'phrasing';


$gray-base: #000 !default;
$gray-light: lighten($gray-base, 46.7%) !default; // #777
$brown: #B6955D;
$light-brown: #F2EFE8;
$dark-brown: #9b7b4e;

@mixin title {
  font-family: 'Crimson Text', serif;
  font-weight: bold;
  font-size: 3.5rem;
  text-align: center;
  font-style: italic;
}

/* universal */

body {
  /* background-color: #F2EFE8; */
  color: #2c2f2f;

}

.no-display {
  display: none;
}

.title {
  @include title;
}

.bg-light {
  background-color: $light-brown;
}

.bg-brown {
  background: #B6955D;
}

.bg-dark {
  background-color: #F2EFE8 !important;
}

.brown-button {
  padding: 7px;
  background-color: $brown;
  height: 20px;
  width: 110%;
  border-radius: 3px;
  color: white;
  font-size: 18px;
  text-decoration: none;

  &:hover {
    text-decoration: none;
    color: white;
    background-color: $dark-brown;
  }
}

/* home  & nav */

.home-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('https://d3ej4wsb6lfww2.cloudfront.net/ensemble_photo_bernice_grey.jpg') center no-repeat;
  background-size: cover;

  .home-text {
    text-shadow: 2px 2px 4px black;
    font-family: 'Rubik', sans-serif;
    text-align: center;
    color: $brown;
    font-weight: bold;
    font-size: 2rem;
  }

  p {
    color: white;
    text-align: center;
    padding: 0;
    font-size: 0.5rem;
  }

  h2 {
    text-align: center;
    font: normal 1rem 'Ubuntu';
  }

  h5 {
    padding-top: 5px;
    color: $brown;
    text-align: center;
    font-size: 0.7rem;
  }

  a {
    cursor: pointer;
    background-color: transparent;
    border-radius: 2px;

    font-size: 0.7rem;
    color: $brown;
    text-align: center;
    line-height: 35px;

    margin-right: 3px;
    margin-bottom: 5px;

    &:hover {
      color: $dark-brown;
    }
  }

  @include media-breakpoint-up(sm) {
    .home-text {
      font-size: 2rem;
    }

    h2 {
      font: normal 1rem 'Ubuntu';
    }

  }

  @include media-breakpoint-up(md) {
    .home-text {
      font-size: 3rem;
    }

    h2 {
      font: normal 1.5rem 'Ubuntu';
    }

    h5 {
      font-size: 1rem;
    }

    a {
      font-size: 1rem;
    }

    p {
      font-size: 0.7rem;
    }
  }

  @include media-breakpoint-up(lg) {
    .home-text {
      font-size: 4rem;
    }

    h2 {
      font: normal 2rem 'Ubuntu';
    }

    h5 {
      font-size: 1.2rem;
    }

    a {
      font-size: 1.2rem;
    }

    p {
      font-size: 0.9rem;
    }
  }

  .welcome {
    img {
      width: 20vw;
      height: auto;
    }
  }

  hr {
    background-color: $brown;
    color: $brown;
    border-width: 3px;
  }

}


.logo {
  float: left;
  margin-right: 30px;
  font-size: 2.3rem;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
  font-family: 'Overlock', cursive;

  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

#myelement {
  background: image-url("guitar.svg") center no-repeat;
  filter: invert(87%) sepia(100%) saturate(3%) hue-rotate(264deg) brightness(111%) contrast(97%);
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar {
  background-color: #151515;
  z-index: 10;

  .dropDownMenu {
    li {
      a {
        padding: 0px;
      }

      ul {
        text-align: left;
        display: none;
        position: absolute;
        top: 100%;
        width: 200px;
        background-color: $brown;
        list-style: outside none none;
        z-index: 99;

        li {
          color: #151515;
          line-height: inherit;
        }
      }
    }
  }
}


/* home page */

#home {
  h1 {
    @include title;
  }

  h4 {
    padding-top: 5px;
    color: $brown;
    text-align: center;
    font-size: 1.3rem;
  }

  .jumbotron {
    p {
      text-align: center;
    }
  }

}


/* arrow down */

/* Contact us */

#contact-us {
  color: white;

  .contact-detail-left {
    justify-content: center;
    display: flex;
  }

  .contact-detail-right {
    justify-content: center;
    padding-top: 2rem;
    display: flex;
  }

  @include media-breakpoint-up(md) {
    .contact-detail-right {
      padding-top: 0;
    }
  }

  @include media-breakpoint-up(lg) {
    .contact-detail-right {
      padding-top: 0;
    }
  }

  h1 {
    @include title;
  }

  .hero {
    background: image-url('desk.jpeg') center no-repeat;
    background-size: cover;
  }

  a {
    text-decoration: none;
    color: white;
    font-style: italic;
  }

  #icon {
    cursor: pointer;
    background-color: transparent;
    border-radius: 2px;
    color: #a1a1a1;

    font-size: 35px;
    text-align: center;
    line-height: 35px;

    margin-right: 3px;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-left: 8px;
    padding-right: 8px;

    &:hover {
      color: white;
    }
  }

  hr {
    background-color: $brown;
    color: $brown;
    border-width: 3px;
    width: 100px;
  }

  input#message_name {
    border: none;
    margin-bottom: 3px;
  }

  input#message_email {
    border: none;
    margin-bottom: 3px;
  }

  textarea {
    border: none;
  }
}

/* events */

#events {
  h1 {
    @include title;
  }

  #bonding-tab {
    color: #292c2f;

    &:hover {
      color: #292c2f;
    }
  }

  #production-tab {
    color: #292c2f;

    &:hover {
      color: #292c2f;
    }
  }

  #profile-tab {
    color: #292c2f;

    &:hover {
      color: #292c2f;
    }
  }

  .nav-tabs {
    border-bottom: 1px solid $brown;
  }

  .nav-tabs .nav-link.active {
    border-color: $brown $brown #fff;
  }

  .nav-tabs .nav-link {
    &:hover {
      border-color: $brown $brown transparent;
    }
  }
}

.page-link {
  color: $brown !important;

  &:hover {
    color: $brown;
    background-color: $light-brown !important;
  }
}

.page-item.active .page-link {
  background-color: $light-brown !important;
  border-color: #dee2e6 !important;
  color: $brown;
}


/* about */

#about {
  h1 {
    @include title;
  }

  section {
    min-height: 100vh;
  }

  .founder {

    img {
      float: left;
    }

    display: inline;
  }

  .tutors {

    img {
      float: left;
    }

    display: inline;
  }
}

/* faq */

#faq {
  h1 {
    @include title;
  }

  .btn {
    background-color: transparent;
    border-color: transparent;
    color: black;

    &:hover {
      background-color: transparent;
      border-color: transparent;
    }
  }

}

/* card */

.card {

  .landscape {
    width: 100%;
    height: 40vw;
    object-fit: cover;
  }

  .portrait {
    width: auto;
    height: 40vw;
    object-fit: cover;
  }

  @include media-breakpoint-up(md) {
    .landscape {
      width: 100%;
      height: 30vw;
      object-fit: cover;
    }

    .portrait {
      width: auto;
      height: 30vw;
      object-fit: cover;
    }
  }

  @include media-breakpoint-up(lg) {
    .landscape {
      width: 100%;
      height: 20vw;
      object-fit: cover;
    }

    .portrait {
      width: auto;
      height: 20vw;
      object-fit: cover;
    }
  }

}

.event-card {
  //background: #efe5d9;
}

.card-title {
  color: #292c2f;
}


/* miscellaneous */

.info-page {
  h1, h2 {
    text-align: left;
  }

  h2 {
    line-height: 1.75;
    letter-spacing: -0.5px;
  }
}

/* icon


/* button */

.btn {
  background-color: #a8865d;
  border-color: #a8865d;
  color: white;
  padding: 5px 8px;

  &:hover {
    color: #fff;
    background-color: #837359;
    border-color: #837359;
  }
}

/* carousel gallery */

.carousel {
  i.fa {
    display: inline-block;
    border-radius: 60px;
    padding: 0.5em 0.6em;
    color: white;
    background: #a8865d;

    &:hover {
      color: #fff;
      background-color: #837359;
      border-color: #837359;
    }
  }
}

#wrapper {
  height: 100%;
  width: 100%;
  min-height: 650px;
  min-width: 900px;
}

#slider {
  margin: 10px 0 0 0;
  height: auto;
  overflow: hidden;
}

#slider .slide {
  position: relative;
  display: none;
  height: 500px;
  float: left;
  background-position: center right;
  cursor: pointer;
  border-left: 1px solid #fff;
}

#slider .slide:first-child {
  border: none;
}

#slider .slide.active {
  cursor: default;
}

/* event */
.event-content {
  padding: 2rem;
}

/* direct_uploads.css */

.direct-upload {
  display: block;
  position: relative;
  padding: 4px 4px;
  margin: 0 3px 3px 0;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  font-size: 14px;
  font-color: gray;
  line-height: 13px;
  width: 50%;
}

.direct-upload--pending {
  opacity: 0.6;
}

.direct-upload__progress {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  opacity: 0.2;
  background: #0076ff;
  transition: width 120ms ease-out, opacity 60ms 60ms ease-in;
  transform: translate3d(0, 0, 0);
}

.direct-upload--complete
.direct-upload__progress {
  opacity: 0.4;
}

.direct-upload--error {
  border-color: red;
}

input[type=file][data-direct-upload-url][disabled] {
  display: none;
}

/* images */
.portrait {
  height: auto;
  width: 100%;
  object-fit: cover;
}

/* footer */

.footer-distributed {
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;

  padding: 55px 50px;
  margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
  width: 40%;
}

/* The company logo */

.footer-distributed h3 {
  color: #ffffff;
  font: normal 36px 'Cookie', cursive;
  margin: 0;
}

.footer-distributed h3 span {
  color: #5383d3;
}

/* Footer links */

.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: #5383d3;
  text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right {
  width: 20%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

  .footer-distributed {
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i {
    margin-left: 0;
  }

}
