@import "bootstrap";
@import "font-awesome";

$brown: #B6955D;
$light-brown: #F2EFE8;
$dark-brown: #9b7b4e;

/* home  & nav */

.home-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('http://d3ej4wsb6lfww2.cloudfront.net/ensemble_photo_bernice_grey.jpg') center no-repeat;
  background-size: cover;

  .home-text {
    text-shadow: 2px 2px 4px black;
    font-family: 'Rubik', sans-serif;
    text-align: center;
    color: $brown;
    font-weight: bold;
    font-size: 2rem;
  }

  p {
    color: white;
    text-align: center;
    padding: 0;
    font-size: 0.5rem;
  }

  h2 {
    text-align: center;
    font: normal 1rem 'Ubuntu';
  }

  h5 {
    padding-top: 5px;
    color: $brown;
    text-align: center;
    font-size: 0.7rem;
  }

  a {
    cursor: pointer;
    background-color: transparent;
    border-radius: 2px;

    font-size: 0.7rem;
    color: $brown;
    text-align: center;
    line-height: 35px;

    margin-right: 3px;
    margin-bottom: 5px;

    &:hover {
      color: $dark-brown;
    }
  }


  @include media-breakpoint-up(sm) {
    .home-text {
      font-size: 2rem;
    }

    h2 {
      font: normal 1rem 'Ubuntu';
    }

  }

  @include media-breakpoint-up(md) {
    .home-text {
      font-size: 3rem;
    }

    h2 {
      font: normal 1.5rem 'Ubuntu';
    }

    h5 {
      font-size: 1rem;
    }

    a {
      font-size: 1rem;
    }

    p {
      font-size: 0.7rem;
    }
  }

  @include media-breakpoint-up(lg) {
    .home-text {
      font-size: 4rem;
    }

    h2 {
      font: normal 2rem 'Ubuntu';
    }

    h5 {
      font-size: 1.2rem;
    }

    a {
      font-size: 1.2rem;
    }

    p {
      font-size: 0.9rem;
    }
  }

  .welcome {
       img {
         width: 20vw;
         height: auto;
       }
     }

  hr {
    background-color: $brown;
    color: $brown;
    border-width: 3px;
  }

}


.logo {
  float: left;
  margin-right: 30px;
  font-size: 2.3rem;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
  font-family: 'Overlock', cursive;

  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

#myelement {
  background: image-url("guitar.svg") center no-repeat;
  filter: invert(87%) sepia(100%) saturate(3%) hue-rotate(264deg) brightness(111%) contrast(97%);
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar {
  background-color: #151515;
  z-index: 10;

  .dropDownMenu {
    li {
      a {
        padding: 0px;
      }

      ul {
        text-align: left;
        display: none;
        position: absolute;
        top: 100%;
        width: 200px;
        background-color: $brown;
        list-style: outside none none;
        z-index: 99;

        li {
          color: #151515;
          line-height: inherit;
        }
      }
    }
  }
}
