<div class="container mb-0 pb-0">
<hr/>
<footer class = "footer">

  <nav class="pr-2">
    <ul class="pl-0">
      <li><a href="https://www.youtube.com/user/NusGuitarEnsemble"><%= fa_icon "youtube-play" %></a></li>
      <li><a href="https://www.youtube.com/user/NusGuitarEnsemble"><%= fa_icon "facebook-official" %></a></li>
      <li><a href="https://www.youtube.com/user/NusGuitarEnsemble"><%= fa_icon "instagram" %></a></li>
    </ul>
  </nav>

	<small class="pl-2">
		follow us on:
	</small>


</footer>
</div>