<header class = "navbar navbar-fixed-top navbar-inverse">
  <div class = "container">
    <%= link_to "Blog", root_url %>
    <nav>
      <ul class= 'nav navbar-nav navbar-right'>
        <li><%= link_to "My Posts", events_front_path %> </li>
      </ul>
    </nav>
  </div>
</header>