<%= link_to "GENUS", root_url, id: 'logo' %>

<ul class="navbar-nav ml-auto">
  <li class="nav-item active">
    <%= link_to "Home", root_url, class: 'nav-link text-light' %>
  </li>

  <li><%= link_to "Events", events_path, class: 'nav-link text-light' %></li>
</ul>